<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Edit Post')">
    <meta charset="UTF-8"/>

</head>
<body>

    <div th:replace="fragments/navbar :: main-navbar"></div>
    <form action="/posts/edit" method="post" th:object="${post}" >
        <input type="hidden" th:field="*{id}"/>
        Title:
        <input th:field="*{title}"/>
        Description:
        <input th:field="*{body}"/>

        <br/>
        <input type="submit" value="Edit"/>
    </form>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" th:action="@{/posts/{id}/delete(id=${post.id})}">
                <input type="submit" class="btn" value="delete" />
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>