<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />

</head>
<body>
    <nav class="nav navbar-inverse" th:fragment = "navbar">
        <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="/">Wilcher Co.</a>
           </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>